[ani] {
    opacity: 0;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
/* Start Up Button */
#up-button {
    background-color: var(--c-yellow-main);
    @include same-scale(35px);
    @include centering;
    @include prefixer(border-radius, 4px);
    @include prefixer(transition, var(--time-transition));
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: var(--c-black-main);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    &::after {
        content: "";
        background-color: transparent;
        @include same-scale(100%);
        position: absolute;
        left: 0;
        top: 0;
    }
    &.show {
        visibility: visible;
        opacity: 1;
    }
    &:hover {
        background-color: var(--c-black-main);
        color: var(--c-yellow-main);
    }
}
/* End Up Button */
/* Start Landing */
.landing {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    @include centering;
    position: relative;
    z-index: 1;
    @include breakpoints(lg) {
        background-attachment: fixed;
    }
    &::before {
        content: "";
        background-color: #000000b5;
        @include same-scale(100%);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -3;
    }
    .container {
        h1 {
            margin-top: 30px;
            font-family: "Poppins", sans-serif;
            text-align: center;
            font-weight: bold;
            font-size: 27px;
            color: var(--c-white-main);
            @include breakpoints(sm) {
                font-size: 35px;
            }
            @include breakpoints(lg) {
                font-size: 56px;
            }
            span {
                color: var(--c-yellow-main);
            }
        }
        h2 {
            margin-bottom: 45px;
            text-align: center;
            font-size: 15px;
            color: var(--c-white-main);
            @include breakpoints(md) {
                font-size: 25px;
            }
        }
        .box {
            .content {
                background-color: transparent;
                padding: 30px 20px;
                border: 1px solid #e1e1e149;
                @include prefixer(transition, var(--time-transition));
                &:hover {
                    border-color: var(--c-yellow-main);
                }
                svg {
                    margin-bottom: 15px;
                    font-size: 22px;
                    color: var(--c-yellow-main);
                }
                p {
                    font-weight: 600;
                    font-size: 20px;
                    color: var(--c-white-main);
                    cursor: pointer;
                    @include prefixer(transition, var(--time-transition));
                    &:hover {
                        color: var(--c-yellow-main);
                    }
                }
            }
        }
    }
}
/* End Landing */
/* Start About */
.about {
    .container {
        .row {
            .info {
                color: var(--c-text-main);
                h3 {
                    font-weight: bold;
                    font-size: 32px;
                }
                p {
                    margin: 0;
                    font-size: 16px;
                    line-height: 1.8;
                }
                ul {
                    li {
                        svg {
                            padding: 5px 10px 0 0;
                            color: var(--c-yellow-main);
                        }
                    }
                }
            }
        }
    }
}
/* End About */
/* Start Clients */
.clients {
    .container {
        .swiper {
            .swiper-slide {
                user-select: none;
                img {
                    @include prefixer(transition, var(--time-transition));
                    filter: grayscale(1);
                    -webkit-filter: grayscale(1);
                    &:hover {
                        filter: grayscale(0);
                        -webkit-filter: grayscale(0);
                    }
                }
            }
            .swiper-pagination-bullet {
                background-color: grey;
                @include same-scale(12px);
                @include prefixer(transition, var(--time-transition));
                &:hover {
                    background-color: var(--c-yellow-second);
                    @include opacity(1);
                }
            }
            .swiper-pagination-bullet-active {
                background-color: var(--c-yellow-main);
            }
        }
    }
}
/* End Clients */
/* Start Feature */
.feature {
    .container {
        .row {
            .info {
                ul {
                    li {
                        svg {
                            padding: 5px 15px 0 0;
                            font-size: 38px;
                            color: var(--c-yellow-main);
                        }
                        h5 {
                            font-weight: 600;
                            color: var(--c-text-main);
                        }
                    }
                }
            }
        }
    }
}
/* End Feature */
/* Start Services */
.services {
    .container {
        .row {
            .box {
                .content {
                    padding: 60px 30px;
                    border: 1px solid #e1e1e1;
                    perspective: 100px;
                    text-align: center;
                    color: var(--c-black-main);
                    @include prefixer(transition, var(--time-transition));
                    &:hover {
                        border-color: transparent;
                        box-shadow: 0 0 15px #e4d4d451;
                        @include prefixer(
                            transform,
                            perspective(100px) translate3d(0, -15px, 5px)
                        );
                    }
                    .icon {
                        background-color: var(--c-yellow-main);
                        margin: 15px auto;
                        @include same-scale(55px);
                        @include prefixer(border-radius, 4px);
                        @include centering;
                        font-size: 20px;
                    }
                    h3 {
                        margin: 15px 0;
                        font-weight: 600;
                        font-size: 25px;
                        @include prefixer(transition, var(--time-transition));
                        cursor: pointer;
                        &:hover {
                            color: var(--c-yellow-main);
                        }
                    }
                    p {
                        font-size: 14px;
                        color: var(--c-text-main);
                    }
                }
            }
        }
    }
}
/* End Services */
/* Start Cta */
.cta {
    background-image: url("../images/cta-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    @include breakpoints(lg) {
        background-attachment: fixed;
    }
    &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.508);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -3;
    }
    .container {
        button {
            background-color: transparent;
            border: none;
            a {
                background-color: transparent;
                padding: 10px 35px;
                border: 3px solid var(--c-white-main);
                @include prefixer(border-radius, 6px);
                font-weight: 600;
                text-align: center;
                color: white;
                @include prefixer(transition, var(--time-transition));
                &:hover {
                    background-color: var(--c-yellow-main);
                    border-color: var(--c-yellow-main);
                    color: var(--c-black-main);
                }
            }
        }
    }
}
/* End Cta */
/* Start Portfolio */
.portfolio {
    .container {
        .actions {
            button {
                background-color: white;
                padding: 6px 12px;
                margin-right: 2px;
                border: none;
                @include prefixer(border-radius, 4px);
                text-transform: uppercase;
                font-weight: 600;
                font-size: 15px;
                color: var(--c-black-main);
                @include prefixer(transition, var(--time-transition));
                &:hover,
                &.active {
                    background-color: var(--c-yellow-main);
                }
            }
        }
        .main-container {
            .item {
                height: fit-content;
                padding: 10px;
                display: none;
                &.show {
                    display: block;
                }
                .content {
                    position: relative;
                    overflow: hidden;
                    &:after {
                        content: "";
                        background-color: transparent;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        @include prefixer(transition, var(--time-transition));
                    }
                    &:hover {
                        img {
                            @include prefixer(transform, scale(1.3));
                        }
                        &::after {
                            background-color: #05050573;
                        }
                        .tools {
                            @include opacity(1);
                        }
                    }
                    img {
                        width: 100%;
                        height: 350px;
                        @include prefixer(transition, var(--time-transition));
                    }
                    .tools {
                        left: 20px;
                        bottom: 20px;
                        color: var(--c-white-main);
                        z-index: 1;
                        @include opacity(0);
                        @include prefixer(transition, var(--time-transition));
                        a {
                            color: var(--c-white-main);
                        }
                        h3 {
                            font-size: 20px;
                            font-weight: 600;
                        }
                        p {
                            margin-bottom: 5px;
                            text-transform: uppercase;
                            font-style: italic;
                            font-size: 16px;
                            color: #ffffff64;
                        }
                        .icons {
                            svg {
                                margin-right: 10px;
                                font-weight: 600;
                                font-size: 18px;
                                @include prefixer(
                                    transition,
                                    var(--time-transition)
                                );
                                cursor: pointer;
                                &:hover {
                                    color: var(--c-yellow-main);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* End Portfolio */
/* Start Count */
.count {
    .container {
        > .row {
            .image {
                img {
                    width: 100%;
                    max-height: 450px;
                }
            }
            .info {
                h2 {
                    font-weight: 700;
                    font-size: 32px;
                    color: var(--c-black-main);
                }
                > p {
                    color: #444444;
                }
                .boxes {
                    .box {
                        svg {
                            padding: 15px 15px 0 0;
                            font-size: 32px;
                            color: var(--c-yellow-main);
                        }
                        .text {
                            .counter {
                                font-weight: bold;
                                font-size: 30px;
                                color: var(--c-black-main);
                            }
                            p {
                                font-size: 14px;
                                color: #444444;
                                span {
                                    font-weight: 600;
                                    color: var(--c-black-main);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* End Count */
/* Start Testimonials */
.testi {
    background-image: url("../images/testimonials-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    @include breakpoints(lg) {
        background-attachment: fixed;
    }
    &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -3;
    }
    .container {
        .swiper {
            user-select: none;
            .swiper-wrapper {
                .swiper-slide {
                    img {
                        @include same-scale(100px);
                        margin-bottom: 15px;
                        border: 5px solid rgba(255, 255, 255, 0.15);
                        @include prefixer(border-radius, 50%);
                    }
                    h4 {
                        font-size: 18px;
                        color: var(--c-white-main);
                    }
                    h6 {
                        margin-bottom: 20px;
                        font-size: 15px;
                        color: #e1e1e1;
                    }
                    p {
                        font-size: 16px;
                        color: var(--c-white-main);
                    }
                }
            }
            .swiper-pagination-bullet {
                background-color: grey;
                @include same-scale(12px);
                @include prefixer(transition, var(--time-transition));
                &:hover {
                    background-color: var(--c-yellow-second);
                    @include opacity(1);
                }
            }
            .swiper-pagination-bullet-active {
                background-color: var(--c-yellow-main);
            }
        }
    }
}
/* End Testimonials */
/* Start Team */
.team {
    .container {
        .row {
            .box {
                .content {
                    @include prefixer(border-radius, 8px);
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
                    overflow: hidden;
                    &:hover {
                        .avatar .icons {
                            bottom: 0;
                            @include opacity(1);
                        }
                    }
                    .avatar {
                        .icons {
                            background-color: transparent;
                            padding: 20px;
                            display: flex;
                            position: absolute;
                            bottom: 20px;
                            @include center-x;
                            @include opacity(0);
                            @include prefixer(transition, 600ms);
                            a {
                                background-color: rgba(255, 255, 255, 0.9);
                                @include same-scale(32px);
                                margin-right: 15px;
                                @include prefixer(border-radius, 4px);
                                @include centering;
                                font-size: 20px;
                                color: var(--c-text-main);
                                @include prefixer(
                                    transition,
                                    var(--time-transition)
                                );
                                cursor: pointer;
                                &:hover {
                                    background-color: var(--c-yellow-main);
                                    color: var(--c-black-main);
                                }
                            }
                        }
                    }
                    .text {
                        background-color: var(--c-white-main);
                        padding: 15px 20px 5px;
                        h3 {
                            margin: 5px 0;
                            font-weight: 600;
                            font-size: 18px;
                            color: var(--c-black-main);
                        }
                        p {
                            font-size: 15px;
                            color: #a1a1a1;
                        }
                    }
                }
            }
        }
    }
}
/* End Team */
/* Start Contact */
.contact {
    .container {
        .info {
            li {
                .icon {
                    background-color: var(--c-yellow-main);
                    @include same-scale(45px);
                    margin: 10px 20px;
                    @include centering;
                    font-size: 18px;
                    color: var(--c-black-main);
                }
                .text {
                    h2 {
                        margin-bottom: 5px;
                        font-weight: 600;
                        font-size: 22px;
                        color: var(--c-black-main);
                    }
                    p {
                        margin: 0;
                        font-size: 14px;
                        color: var(--c-text-main);
                    }
                }
            }
        }
        form {
            input,
            textarea {
                width: 100%;
                padding: 8px 20px;
                border: 1px solid #e1e1e1;
                @include prefixer(border-radius, 4px);
                @include prefixer(transition, var(--time-transition));
                &:focus {
                    border-color: var(--c-yellow-main);
                }
            }
            textarea {
                height: 125px;
            }
        }
        .submit {
            button {
                background-color: var(--c-yellow-main);
                margin: 0 auto;
                padding: 8px 30px;
                border: none;
                @include prefixer(border-radius, 4px);
                display: block;
                color: var(--c-black-main);
                @include prefixer(transition, var(--time-transition));
                &:hover {
                    background-color: var(--c-yellow-second);
                }
            }
        }
    }
}
/* End Contact */
/* Start Up Footer */
.up-footer {
    background-color: #151515;
    font-size: 14px;
    color: var(--c-white-main);
    a {
        color: var(--c-white-main);
    }
    .container {
        h1 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 28px;
            span {
                color: var(--c-yellow-main);
            }
        }
        h4 {
            font-size: 16px;
        }
        h1,
        h4 {
            font-weight: 600;
            margin-bottom: 15px;
        }
        p {
            span {
                font-weight: 600;
            }
        }
        .icons {
            a {
                background-color: #292929;
                @include same-scale(35px);
                margin-right: 10px;
                @include prefixer(border-radius, 4px);
                @include centering;
                font-size: 16px;
                @include prefixer(transition, var(--time-transition));
                &:hover {
                    background-color: var(--c-yellow-main);
                    color: var(--c-black-main);
                }
            }
        }
        li {
            margin-bottom: 15px;
            svg {
                margin-right: 5px;
                color: var(--c-yellow-main);
            }
            a {
                @include prefixer(transition, var(--time-transition));
                &:hover {
                    color: var(--c-yellow-main);
                }
            }
        }
        .input {
            width: 100%;
            height: 45px;
            @include prefixer(border-radius, 4px);
            display: flex;
            overflow: hidden;
            input {
                background-color: var(--c-white-main);
                height: 45px;
                padding: 5px 20px;
                flex: 1;
            }
            button {
                background-color: var(--c-yellow-main);
                width: 120px;
                height: 45px;
                margin: 0;
                padding: 0 10px;
                border: none;
                text-align: center;
                color: var(--c-black-main);
                @include prefixer(transition, var(--time-transition));
                &:hover {
                    background-color: var(--c-yellow-second);
                }
            }
        }
    }
}
/* End Up Footer */
/* Start Under Head */
.under-head {
    background-color: #f1f1f1;
    margin-top: 90px;
    padding: 15px 0;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    .container {
        h1 {
            font-weight: 600;
            font-size: 28px;
        }
        .links {
            color: var(--c-black-main);
            a {
                padding: 0 5px;
                font-weight: 600;
                font-size: 16px;
                color: var(--c-black-main);
                @include prefixer(transition, var(--time-transition));
                &:hover,
                &.active {
                    color: var(--c-yellow-main);
                }
            }
        }
    }
}
/* End Under Head */
/* Start Ptr Landing */
.prt-landing {
    .container {
        .row {
            .slider-prt {
                .swiper {
                    .swiper-pagination-bullet {
                        background-color: transparent;
                        @include same-scale(10px);
                        border: 1px solid var(--c-yellow-main);
                        @include opacity(1);
                    }
                    .swiper-pagination-bullet-active {
                        background-color: var(--c-yellow-main);
                    }
                }
            }
            .info {
                .box {
                    background-color: var(--c-white-main);
                    margin-bottom: 20px;
                    padding: 22px;
                    box-shadow: 0 0 15px #cfcece99;
                    h3 {
                        margin-bottom: 15px;
                        padding: 18px 0;
                        border-bottom: 1px solid #e1e1e1;
                        font-weight: 600;
                        font-size: 22px;
                    }
                    ul {
                        li {
                            font-size: 14px;
                            color: var(--c-black-main);
                            span {
                                font-weight: bold;
                            }
                            &.link {
                                color: var(--c-yellow-main);
                                span {
                                    color: var(--c-black-main);
                                }
                            }
                        }
                    }
                }
                .text {
                    h3 {
                        margin-bottom: 15px;
                        font-weight: 600;
                        font-size: 24px;
                    }
                    p {
                        color: var(--c-text-main);
                    }
                }
            }
        }
    }
}
/* End Ptr Landing */
